<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    background-color: #dadada;
    font-family: "Roboto", sans-serif;
}

.h3{
=======
.h3 {
>>>>>>> afa423e254ce4f7864299fa0cb47bf5b9fe0027d
    color: blue;
}