/* Estilização padrão gerado pelo projeto inicial do ViteJS par ao React*/
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  background-color: #dadada;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: #a31b98;
  margin-top: 20px;
  margin-bottom: 20px;
}